#about-me {
    text-align: center;
}

.about-title{
    margin: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 130px;
    color: lightpink;
}

.kitty-container{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.kitty{
    width: 100%;
    max-width: 400px;
}
.card-text{
    margin: 60px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    padding-bottom: 100px;
}

#projects {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.projects-title{
    font-size: 130px;
    color:palevioletred;
}

.project-images {
    width: 100%;
    max-width: 400px;
}

.row > * {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.projects-container{
   padding: 50px !important;
}
